#copy_btn{
    font-size: 13px;
    width: 100px;
    background: white;
    border:1px solid gray;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 35px;
}
.share-box ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}
.share-icon{
    width: 40px;
}
.share_link_form  .send-btn{
    background-color:#ef5661 !important;
    border-color:#ef5661 !important;
    width: 80px;
    font-size: 14px;
    color: white;
    height:50px;
    border-radius: 0.25rem;
    border-top-right-radius: 0px !important;
    -webkit-border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    -webkit-border-bottom-right-radius: 0px !important;
}
.share_link_form .form-control{
    width: calc(100% - 100px) !important;
    border-top-left-radius: 0px !important;
    -webkit-border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    -webkit-border-bottom-left-radius: 0px !important;

}
.share_link_form .v-input__slot{
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.share_link_form .v-text-field__details{
    display: none;
}
.share-box h5{
    font-family: BYekan,sans-serif !important;
    margin-bottom:20px;
}
.share-icon.facebook{
    width: 22px !important;
}
